<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="loginDesign">
  <br> <br>
  <ion-input label="User Name" [(ngModel)]="username" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  <br> <br>
  <ion-input label="Password" [(ngModel)]="password"  label-placement="floating" fill="outline" placeholder="Enter text"  type="password" ></ion-input>
  <br> <br>
  <ion-button id="open-toast" expand="full">Log-in</ion-button>

</div>
<ion-toast trigger="open-toast" message="{{username}} and {{password}}" [duration]="5000"></ion-toast>

</ion-content>
