<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>registration</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registrationDesign">
  <br> <br>
  <ion-input [(ngModel)]="fname" label="Full Name" abel-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  <br> <br>
  <ion-input [(ngModel)]="username" label="User Name" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  <br> <br>
  <ion-input [(ngModel)]="email" label="E-mail" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  <br> <br>
  <ion-input [(ngModel)]="pass" label="Password" label-placement="floating" fill="outline" placeholder="Enter text"  type="password"></ion-input>
  <br> <br>
  <ion-input [(ngModel)]="conpass" label="Confirm Password" label-placement="floating" fill="outline" placeholder="Enter text"  type="password" ></ion-input>
  <br> <br>

 <ion-button (click)="register()" id="open-toast" expand="full">Register</ion-button>
</div>
</ion-content>
